.buttonMedium {
  width: Hug (130px) px;
  height: Fixed (40px) px;
  top: 20px;
  left: 20px;
  padding: 0px 20px 0px 20px;
  gap: 10px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  color: white;
}

.buttonDefault {
  padding: 15px 30px 15px 30px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  background-color: var(--grey-10);
}

.buttonDefault:hover,
.buttonMedium:hover {
  background-color: var(--color-primary);
}
