:root {
  --color-primary: #27ae60;
  --color-secondary: #eb5757;
  --grey-600: #333333;
  --grey-300: #828282;
  --grey-100: #e0e0e0;
  --grey-0: #f5f5f5;
  --grey-10: #bdbdbd;
}

* {
  font-family: "Inter", sans-serif;
}
